# =========================
# Angular
# =========================
node_modules/
dist/
.angular/
.cache/

# =========================
# Spring Boot
# =========================
target/
*.jar
*.war
*.class
application.properties
# =========================
# Python / FastAPI
# =========================
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# IDE Files
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log