h1{
    margin-top: 0;
}

.about-container{
    background:radial-gradient(circle at center, rgba(113, 24, 154, 0.5),rgba(165, 102, 181, 0.5),rgba(196, 188, 198, 0.5),rgba(162, 97, 180, 0.5))
}

.overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.overview-image{
    background-size: cover;
    width: 300px;
    height: 300px;
}

.terms-image{
    background-size: cover;
    width: 300px;
    height: 450px;
}